nodered_flow.json
[
    {
        "id": "tab_smartdesk",
        "type": "tab",
        "label": "Smart Study Desk — Main Flow",
        "disabled": false,
        "info": "IoT Smart Study Environment — Main logic flow.\nImport this into Node-RED via Menu > Import > Clipboard"
    },
    {
        "id": "tab_dashboard",
        "type": "tab",
        "label": "Dashboard Config",
        "disabled": false,
        "info": "Dashboard UI configuration"
    },
    {
        "id": "ui_group_env",
        "type": "ui_group",
        "name": "🌿 Environment",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_bio",
        "type": "ui_group",
        "name": "❤️ Biometrics",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_behavior",
        "type": "ui_group",
        "name": "🧍 Behavior & Posture",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_actuators",
        "type": "ui_group",
        "name": "⚙️ Actuator Status",
        "tab": "ui_tab_main",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_alerts",
        "type": "ui_group",
        "name": "🚨 Alerts & State",
        "tab": "ui_tab_main",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Smart Study Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },

    {
        "id": "mqtt_in_co2",
        "type": "mqtt in",
        "z": "tab_smartdesk",
        "name": "📡 CO2 Sensor",
        "topic": "/smartdesk/env/co2",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "nl": false,
        "rap": false,
        "rh": 0,
        "x": 130,
        "y": 80,
        "wires": [["parse_co2"]]
    },
    {
        "id": "parse_co2",
        "type": "function",
        "z": "tab_smartdesk",
        "name": "Parse CO2",
        "func": "var payload = msg.payload;\nvar co2 = payload.value;\n\nmsg.payload = co2;\nmsg.topic = 'co2';\nflow.set('co2', co2);\n\n// Threshold check\nif (co2 > 1000) {\n    node.send([msg, {\n        payload: {\n            type: 'co2',\n            level: 'HIGH',\n            value: co2,\n            message: '⚠️ CO2 HIGH (' + co2 + ' ppm) — Activating Fans at 80% PWM',\n            action: 'FAN_HIGH'\n        },\n        topic: 'alert'\n    }]);\n} else {\n    node.send([msg, null]);\n}\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 80,
        "wires": [["gauge_co2", "chart_co2"], ["alert_handler"]]
    },
    {
        "id": "gauge_co2",
        "type": "ui_gauge",
        "z": "tab_smartdesk",
        "name": "CO2 Gauge",
        "group": "ui_group_env",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "CO₂ Level",
        "label": "ppm",
        "format": "{{value}}",
        "min": "300",
        "max": "2000",
        "colors": ["#00b050", "#ffbf00", "#e02020"],
        "seg1": "600",
        "seg2": "1000",
        "className": "",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "chart_co2",
        "type": "ui_chart",
        "z": "tab_smartdesk",
        "name": "CO2 History",
        "group": "ui_group_env",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "CO₂ ppm (last 60 readings)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "300",
        "ymax": "2000",
        "removeOlder": "60",
        "removeOlderPoints": "60",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#00adef", "#e6194b"],
        "outputs": 1,
        "x": 520,
        "y": 100,
        "wires": [[]]
    },

    {
        "id": "mqtt_in_lux",
        "type": "mqtt in",
        "z": "tab_smartdesk",
        "name": "💡 Light Sensor",
        "topic": "/smartdesk/env/lux",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 130,
        "y": 160,
        "wires": [["parse_lux"]]
    },
    {
        "id": "parse_lux",
        "type": "function",
        "z": "tab_smartdesk",
        "name": "Parse Lux + LED Logic",
        "func": "var lux = msg.payload.value;\nmsg.payload = lux;\nflow.set('lux', lux);\n\nif (lux < 300) {\n    var brightness = Math.min(100, Math.round(70 + (500 - lux) / 5));\n    node.send([msg, {\n        payload: {\n            type: 'light',\n            level: 'LOW',\n            value: lux,\n            message: '💡 LOW LIGHT (' + lux + ' lux) — Boosting LED to ' + brightness + '%',\n            action: 'LED_BOOST',\n            brightness: brightness\n        },\n        topic: 'alert'\n    }]);\n} else {\n    node.send([msg, null]);\n}\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "x": 320,
        "y": 160,
        "wires": [["gauge_lux"], ["alert_handler"]]
    },
    {
        "id": "gauge_lux",
        "type": "ui_gauge",
        "z": "tab_smartdesk",
        "name": "Lux Gauge",
        "group": "ui_group_env",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Ambient Light",
        "label": "lux",
        "format": "{{value}}",
        "min": "0",
        "max": "1500",
        "colors": ["#e02020", "#ffbf00", "#00b050"],
        "seg1": "200",
        "seg2": "300",
        "x": 520,
        "y": 160,
        "wires": []
    },

    {
        "id": "mqtt_in_temp",
        "type": "mqtt in",
        "z": "tab_smartdesk",
        "name": "🌡️ Temp + Humidity",
        "topic": "/smartdesk/env/temperature",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 130,
        "y": 240,
        "wires": [["parse_temp"]]
    },
    {
        "id": "parse_temp",
        "type": "function",
        "z": "tab_smartdesk",
        "name": "Parse Temperature",
        "func": "var temp = msg.payload.value;\nmsg.payload = temp;\nflow.set('temperature', temp);\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 240,
        "wires": [["display_temp"]]
    },
    {
        "id": "display_temp",
        "type": "ui_text",
        "z": "tab_smartdesk",
        "group": "ui_group_env",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "Temperature",
        "label": "🌡️ Temperature",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "x": 520,
        "y": 240,
        "wires": []
    },

    {
        "id": "mqtt_in_hr",
        "type": "mqtt in",
        "z": "tab_smartdesk",
        "name": "💓 Heart Rate",
        "topic": "/smartdesk/biometrics/hr",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 130,
        "y": 360,
        "wires": [["parse_hr"]]
    },
    {
        "id": "parse_hr",
        "type": "function",
        "z": "tab_smartdesk",
        "name": "Parse HR",
        "func": "var hr = msg.payload.value;\nmsg.payload = hr;\nflow.set('hr', hr);\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 360,
        "wires": [["gauge_hr", "chart_hr"]]
    },
    {
        "id": "gauge_hr",
        "type": "ui_gauge",
        "z": "tab_smartdesk",
        "name": "HR Gauge",
        "group": "ui_group_bio",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Heart Rate",
        "label": "bpm",
        "format": "{{value}}",
        "min": "40",
        "max": "150",
        "colors": ["#00b050", "#ffbf00", "#e02020"],
        "seg1": "80",
        "seg2": "100",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "chart_hr",
        "type": "ui_chart",
        "z": "tab_smartdesk",
        "name": "HR History",
        "group": "ui_group_bio",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "Heart Rate bpm (last 60s)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "ymin": "40",
        "ymax": "150",
        "removeOlder": "60",
        "removeOlderPoints": "60",
        "removeOlderUnit": "1",
        "colors": ["#e6194b"],
        "outputs": 1,
        "x": 510,
        "y": 380,
        "wires": [[]]
    },

    {
        "id": "mqtt_in_hrv",
        "type": "mqtt in",
        "z": "tab_smartdesk",
        "name": "💗 HRV",
        "topic": "/smartdesk/biometrics/hrv",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 130,
        "y": 440,
        "wires": [["parse_hrv"]]
    },
    {
        "id": "parse_hrv",
        "type": "function",
        "z": "tab_smartdesk",
        "name": "Parse HRV + Stress Logic",
        "func": "var hrv = msg.payload.value;\nvar hr  = flow.get('hr') || 70;\nmsg.payload = hrv;\nflow.set('hrv', hrv);\n\nif (hrv < 25 && hr > 90) {\n    node.send([msg, {\n        payload: {\n            type: 'stress',\n            level: 'HIGH',\n            value: hrv,\n            message: '😰 STRESS DETECTED — HRV=' + hrv + 'ms, HR=' + hr + 'bpm. Break recommended!',\n            action: 'SUGGEST_BREAK'\n        },\n        topic: 'alert'\n    }]);\n} else {\n    node.send([msg, null]);\n}\nreturn null;",
        "outputs": 2,
        "x": 320,
        "y": 440,
        "wires": [["gauge_hrv"], ["alert_handler"]]
    },
    {
        "id": "gauge_hrv",
        "type": "ui_gauge",
        "z": "tab_smartdesk",
        "name": "HRV Gauge",
        "group": "ui_group_bio",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "HRV (Stress Index)",
        "label": "ms",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": ["#e02020", "#ffbf00", "#00b050"],
        "seg1": "20",
        "seg2": "35",
        "x": 510,
        "y": 440,
        "wires": []
    },

    {
        "id": "mqtt_in_spo2",
        "type": "mqtt in",
        "z": "tab_smartdesk",
        "name": "🩸 SpO2",
        "topic": "/smartdesk/biometrics/spo2",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 130,
        "y": 520,
        "wires": [["parse_spo2"]]
    },
    {
        "id": "parse_spo2",
        "type": "function",
        "z": "tab_smartdesk",
        "name": "Parse SpO2",
        "func": "var spo2 = msg.payload.value;\nmsg.payload = spo2;\nflow.set('spo2', spo2);\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 520,
        "wires": [["gauge_spo2"]]
    },
    {
        "id": "gauge_spo2",
        "type": "ui_gauge",
        "z": "tab_smartdesk",
        "name": "SpO2 Gauge",
        "group": "ui_group_bio",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "SpO₂ Level",
        "label": "%",
        "format": "{{value}}",
        "min": "85",
        "max": "100",
        "colors": ["#e02020", "#ffbf00", "#00b050"],
        "seg1": "92",
        "seg2": "95",
        "x": 510,
        "y": 520,
        "wires": []
    },

    {
        "id": "mqtt_in_posture",
        "type": "mqtt in",
        "z": "tab_smartdesk",
        "name": "🧍 Posture Sensor",
        "topic": "/smartdesk/behavior/posture",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 130,
        "y": 640,
        "wires": [["parse_posture"]]
    },
    {
        "id": "parse_posture",
        "type": "function",
        "z": "tab_smartdesk",
        "name": "Parse Posture + HC-SR04 Logic",
        "func": "var dist = msg.payload.value;\nmsg.payload = dist;\nflow.set('posture', dist);\n\n// Bad posture: <35cm for sustained period\nvar badCount = flow.get('postureCount') || 0;\nif (dist < 35) {\n    badCount++;\n    flow.set('postureCount', badCount);\n} else {\n    flow.set('postureCount', 0);\n    badCount = 0;\n}\n\n// After 10 bad readings (=10 seconds, simulating 2-min in fast-sim)\nif (badCount >= 10) {\n    node.send([msg, {\n        payload: {\n            type: 'posture',\n            level: 'BAD',\n            value: dist,\n            message: '📐 POOR POSTURE — Distance=' + dist + 'cm (<35cm). Haptic vibration active!',\n            action: 'HAPTIC_ON'\n        },\n        topic: 'alert'\n    }]);\n} else {\n    node.send([msg, null]);\n}\nreturn null;",
        "outputs": 2,
        "x": 320,
        "y": 640,
        "wires": [["gauge_posture"], ["alert_handler"]]
    },
    {
        "id": "gauge_posture",
        "type": "ui_gauge",
        "z": "tab_smartdesk",
        "name": "Posture Gauge",
        "group": "ui_group_behavior",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Posture Distance",
        "label": "cm",
        "format": "{{value}}",
        "min": "10",
        "max": "100",
        "colors": ["#e02020", "#ffbf00", "#00b050"],
        "seg1": "30",
        "seg2": "40",
        "x": 510,
        "y": 640,
        "wires": []
    },

    {
        "id": "mqtt_in_state",
        "type": "mqtt in",
        "z": "tab_smartdesk",
        "name": "🧠 Student State",
        "topic": "/smartdesk/state/student",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 130,
        "y": 760,
        "wires": [["parse_state"]]
    },
    {
        "id": "parse_state",
        "type": "function",
        "z": "tab_smartdesk",
        "name": "Format State Display",
        "func": "var data = msg.payload;\nvar state = data.state;\nvar fatigue = Math.round(data.fatigue * 100);\nvar stress  = Math.round(data.stress * 100);\n\nvar stateColors = {\n    'FOCUSED':  '#00b050',\n    'NORMAL':   '#0070c0',\n    'FATIGUED': '#ffbf00',\n    'STRESSED': '#e02020',\n    'BREAK':    '#7f7f7f'\n};\nvar stateEmoji = {\n    'FOCUSED':  '🟢',\n    'NORMAL':   '🔵',\n    'FATIGUED': '🟡',\n    'STRESSED': '🔴',\n    'BREAK':    '⚪'\n};\n\nmsg.payload = (stateEmoji[state] || '⚫') + ' ' + state;\nmsg.style = { color: stateColors[state] || '#888888' };\n\nnode.send([msg, {\n    payload: fatigue,\n    topic: 'fatigue'\n}, {\n    payload: stress,\n    topic: 'stress'\n}]);\nreturn null;",
        "outputs": 3,
        "x": 330,
        "y": 760,
        "wires": [["display_state"], ["gauge_fatigue"], ["gauge_stress"]]
    },
    {
        "id": "display_state",
        "type": "ui_text",
        "z": "tab_smartdesk",
        "group": "ui_group_alerts",
        "order": 1,
        "width": "4",
        "height": "2",
        "name": "Student State",
        "label": "🧠 Current Student State",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 530,
        "y": 740,
        "wires": []
    },
    {
        "id": "gauge_fatigue",
        "type": "ui_gauge",
        "z": "tab_smartdesk",
        "name": "Fatigue",
        "group": "ui_group_behavior",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fatigue Level",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": ["#00b050", "#ffbf00", "#e02020"],
        "seg1": "40",
        "seg2": "70",
        "x": 530,
        "y": 790,
        "wires": []
    },
    {
        "id": "gauge_stress",
        "type": "ui_gauge",
        "z": "tab_smartdesk",
        "name": "Stress",
        "group": "ui_group_behavior",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Stress Level",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": ["#00b050", "#ffbf00", "#e02020"],
        "seg1": "30",
        "seg2": "60",
        "x": 530,
        "y": 840,
        "wires": []
    },

    {
        "id": "mqtt_in_actuators",
        "type": "mqtt in",
        "z": "tab_smartdesk",
        "name": "⚙️ Actuator Commands",
        "topic": "/smartdesk/actuators/command",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 130,
        "y": 920,
        "wires": [["parse_actuators"]]
    },
    {
        "id": "parse_actuators",
        "type": "function",
        "z": "tab_smartdesk",
        "name": "Route Actuator Commands",
        "func": "var cmd = msg.payload;\n\nnode.send([\n    { payload: cmd.fan_pwm,        topic: 'fan' },\n    { payload: cmd.led_brightness,  topic: 'led_brightness' },\n    { payload: cmd.led_color_k,     topic: 'led_color' },\n    { payload: cmd.haptic ? 'ON' : 'OFF', topic: 'haptic' },\n    { payload: cmd.oled_message,    topic: 'oled' },\n    { payload: cmd.break_suggested ? 'YES — 5 min break' : 'No', topic: 'break' }\n]);\nreturn null;",
        "outputs": 6,
        "x": 340,
        "y": 920,
        "wires": [
            ["gauge_fan"],
            ["gauge_led"],
            ["display_led_color"],
            ["display_haptic"],
            ["display_oled"],
            ["display_break"]
        ]
    },
    {
        "id": "gauge_fan",
        "type": "ui_gauge",
        "z": "tab_smartdesk",
        "name": "Fan PWM",
        "group": "ui_group_actuators",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fan Speed (PWM)",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": ["#00b050", "#0070c0", "#e02020"],
        "seg1": "50",
        "seg2": "75",
        "x": 540,
        "y": 880,
        "wires": []
    },
    {
        "id": "gauge_led",
        "type": "ui_gauge",
        "z": "tab_smartdesk",
        "name": "LED Brightness",
        "group": "ui_group_actuators",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "LED Brightness",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": ["#7f7f7f", "#ffbf00", "#ffffff"],
        "seg1": "40",
        "seg2": "70",
        "x": 540,
        "y": 930,
        "wires": []
    },
    {
        "id": "display_led_color",
        "type": "ui_text",
        "z": "tab_smartdesk",
        "group": "ui_group_actuators",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "LED Color",
        "label": "💡 LED Color Temp",
        "format": "{{msg.payload}} K",
        "layout": "row-spread",
        "x": 540,
        "y": 970,
        "wires": []
    },
    {
        "id": "display_haptic",
        "type": "ui_text",
        "z": "tab_smartdesk",
        "group": "ui_group_actuators",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "Haptic",
        "label": "📳 Haptic Motor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 540,
        "y": 1010,
        "wires": []
    },
    {
        "id": "display_oled",
        "type": "ui_text",
        "z": "tab_smartdesk",
        "group": "ui_group_actuators",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "OLED Message",
        "label": "📟 OLED Display",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 540,
        "y": 1050,
        "wires": []
    },
    {
        "id": "display_break",
        "type": "ui_text",
        "z": "tab_smartdesk",
        "group": "ui_group_alerts",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "Break Suggestion",
        "label": "☕ Break Suggestion",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 540,
        "y": 1090,
        "wires": []
    },

    {
        "id": "alert_handler",
        "type": "function",
        "z": "tab_smartdesk",
        "name": "Alert Aggregator",
        "func": "var alert = msg.payload;\nvar log = flow.get('alertLog') || [];\nlog.unshift('[' + new Date().toLocaleTimeString() + '] ' + alert.message);\nif (log.length > 20) log = log.slice(0, 20);\nflow.set('alertLog', log);\nmsg.payload = log.join('\\n');\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 1160,
        "wires": [["display_alerts"]]
    },
    {
        "id": "display_alerts",
        "type": "ui_text",
        "z": "tab_smartdesk",
        "group": "ui_group_alerts",
        "order": 5,
        "width": "12",
        "height": "4",
        "name": "Alert Log",
        "label": "📋 Alert History (latest first)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 520,
        "y": 1160,
        "wires": []
    },

    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "NodeRED_SmartDesk",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
